.Weather-container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    align-items: stretch;
}

.Weather-search {
    margin-bottom: 50px;
}

.Weather-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Weather-container h1 {
    padding: 50px;
    color: cadetblue;
}

.Weather-list h2 {
    color: cadetblue;
}

.Weather-list h3 {
    color: gray;
}

.Weather-error {
    color: red;
}